
body{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
/* div{
background-color: white;
} */
.iPad{
    background-color: #f5f5f7;
}
/* img{
    margin : auto;
} */
.iPad .WindowTextDisplay{
    display: flex;
    /* width: 100%;
    height: 100%; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border : solid red;
    color: #1d1d1f;
}

.iPad  h2{
    text-align: center;
    margin : 50px 0;
}
.iPad  button:hover{
    cursor: pointer;
}

.iPad .Title{
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
}

.iPad  .TitleSideProduct{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
}
.iPad .subtitle{
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: .009em;
}

.iPad p{
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;  
}
.iPad .buy{
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px 0;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
}

.iPad .explainMore{
    margin-top: 15px;
    color: #06c;
}
.iPad .explainMore:hover{
    cursor: pointer;
    text-decoration: underline;
}

.iPad .wideSection{
    display: flex;
    height: 90vh;
    margin : 20px 0;
}
.iPad .withLogo, .twoLinks, .flexSection{
    display: flex;
    justify-content: space-evenly;
}
.iPad .New{
    font-size: 12px;
    line-height: 2.08337;
    font-weight: 400;
    letter-spacing: -.011em;
    color: #bf4800;
}
.iPad .gridIpad{
    padding: 0 15%;
}
.iPad .gridIpad img{
    margin : auto auto 0 auto !important;
}


.iPad .description{
    font-size: 14px;
    margin-top: 6px;
}
.iPad .darkBg{
    color : white !important;
}

.iPad .celliPadGrid{
    text-align: center;
    margin: 20px auto;
    height: auto;
    width: auto;
    }
.iPad .product{
    width: 100%;
    margin-top: auto;
}
.iPad .product .WindowTextDisplay{
    height: 200px;
}
.iPad .product .Title{
    font-size : 23px;
}
.iPad .product .subtitle{
    font-size : 16px;
}
.iPad .product .new{
    font-size : 8px;
}
.iPad .product p{
    font-size : 15px;
}
.iPad .product .buy{
    font-size: 12px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    min-width: 28px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 4px;
    margin-top: 10px;
}
.iPad .product .explainMore{
    font-size : 15px;
}
.iPad .bundleServices{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.iPad .acessIpad{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin : 4vh;
}

.iPad .service{
    height: 600px;
    width: 675px;
    margin : 20px 0;
    position : relative;
    border : solid purple !important;
}
.iPad .service .WindowTextDisplay{
    z-index: 1;
    position : absolute;
    top : 10%;
    left: 10%;
    right: 10%;
}
.iPad .service img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.iPad .iPadMini{
    padding : 0 20%;
}
.iPad .iPadMini .WindowTextDisplay{
    width: 40%;
    height: 40%;
    margin: auto 0;
}
.iPad .iPadMini img{
    margin : auto 0 0 0;
}
.iPad .iPadMini .Title{
    margin-right : 15px !important;
}
.iPad .iPadMini .WindowTextDisplay img, .iPadMini .WindowTextDisplay div{
    margin : auto;
}

.iPad .ipadSimple{
    position: relative;
    overflow: hidden;
    padding: 0 10%;
}

.iPad .ipadSimple img{
    position: absolute;
    bottom: 5%;
}

.iPad .ipadSimple .WindowTextDisplay{
    position: absolute;
    z-index: 1;
    right: 20%;
    top : 25%
}

.iPad .ipadAir{
    padding: 0 22%;
}

.iPad .ipadPro{
    position: relative;
    overflow: hidden;
}
.iPad .ipadPro img{
    position: absolute;
    left: 25%;
    top : 10%;
}
.iPad .ipadPro .WindowTextDisplay{
    position: absolute;
    left: 50%;
    top : 25%;
    z-index: 1;
}

.iPad .freePayCustom{
    display: flex;
    justify-content: space-evenly;
}

.iPad .ad{
    width: 30%;
}

.iPad .gridCell{
    margin : 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.iPad .gridCell img{
    margin: 0;
}

.iPad .cloudAndPay img{
    margin : auto;
}