/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:visited { 
    text-decoration: none; 
   }
a { 
    text-decoration: none; 
   }


/* //////////////////////Miler/////////////////////////// */

header{
    position: fixed;
    top : 0;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    padding: 0% 20%;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.Apple .top div{
    height : 580px;
    margin : 20px 0 20px 0;
}

.one{
    background-color: #fbedf9;
}
.two, .three{
    background-color: #fbfbfd;
}

header a {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    color : #d6d6d6cb;
    font-size: 12px;
    transition : linear 200ms;
}

header a:hover {
    color : rgb(230, 230, 230);
    transition : color linear 200ms;
}

/* ///////////////////header.css/////////////////// */

.Apple{
    margin-top: 42px;
}

.Panel {
    margin: 1vh 0;
    height: 85vh;
}

.Panel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.TwoPanelsOneline{
    display: flex;
}

.TwoPanelsOneline :first-child{
    margin-right : 1vh;
}
.TwoPanelsOneline :nth-child(2){
    margin-left : 1vh;
}

.InfoBox{
    line-height: 1.07143;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    position: absolute;
    margin-top: 10vh;
    right : 32%;
    left: 32%; 
    text-align: center;
    padding : 20px;
    border-radius : 16px; 
    color : black;
}
.InfoBox .Title{
    padding : 2vh;
    font-size: 7vh;
    font-weight: 500;
}

.InfoBox .Description{
    padding : 1vh;
    font-size: 4vh;
    font-weight: 300;
}

.LinksBox{
    padding : 1vh;
    width: 40%;
    display : flex;
    justify-content: space-between;
    margin: 0 auto;
}

.LinksBox .link{
    font-size: 2.5vh;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color : #06c;
}

.LinksBox a:hover{
 cursor: pointer;
 text-decoration: underline;

}

.TwoPanelsOneline .InfoBox .Title{
    padding: 0;
    font-size: 5vh;
    font-weight: 450;
}
.TwoPanelsOneline .InfoBox .Description{
    font-size: 2.5vh;
    font-weight: 360;
}
.TwoPanelsOneline .LinksBox{
    width: 60%;
}

.TwoPanelsOneline .LinksBox .link{
    font-size: 2vh;
}

.TwoPanelsOneline :first-child .InfoBox{
    left: 13%;
    right: 63%;
}

.TwoPanelsOneline :nth-child(2) .InfoBox{
    right: 13%;
    left: 63%;
}
/* Ajustements spécifique au texte de chaque box */

#iPhone .InfoBox{
    transform : translate(0px, -5vh);
}

#iPhone .Title{
    color : white;
}
#iPhone .Description{
    color : #fec2eb;
}


#watch .InfoBox{
    transform : translate(0px, -12vh);
}

#fitness .InfoBox{
    padding : 0px;
    transform : translate(0px, -6vh);
}

#macPro .InfoBox{
    transform : translate(0px, -8vh);
}

#airPods .InfoBox{
    transform : translate(0px, 55vh);
}
#homePods .InfoBox{
    transform : translate(0px, -8vh);
}
#deafo .InfoBox{
    transform : translate(0px, 55vh);
}
#deafo .LinksBox{
    justify-content: center;
}
#deafo .link{
    color : black;
}



/* ///////////////////Apple.css/////////////////// */

 .Store{
        margin-top: 42px;
        font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 500;
        background-color: #f5f5f7;
    }
.Store h1{
    padding: 8vh 0 0 20% ;
    font-size: 6vh;
    color : grey;
}
.Store strong{
    color : black;
}
.Caroussel{
    margin-top : 10vh;
}
 .CarousselMain{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-top: 1.5vh;
        padding: 0 20px;
        align-items: center;
        /* border : solid black; */
        overflow: hidden;
        width: 100vw;
    }
 .CarousselTitle{
    box-sizing: content-box;
    padding-left: 20%;
    font-size: 25px;
    color : grey;
    }
.Help .title {
    font-size: 25px;
    color : grey;
    margin-bottom: 4vh;
}
  
  .CarousselMain:hover > button {
     transform: scale(2);
     visibility: visible;
     transition: visibility transform linear 500ms;
  }
  .focus{
    /* border-left : solid red; */
    padding: 20px 0px;
    width: 60vw;
    display: flex;
    justify-content: flex-start;
    /* overflow: hidden; */
  }
  .divCards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border : solid black; */
    transition: transform 400ms ease-in-out;
  }
  
  .WideCard, .SmallCard{
    box-sizing: border-box;
    height: 500px;
    margin-right: 20px;
    border-radius: 16px;
    box-shadow: 0 0 7px 2px rgba(168, 168, 168, 0.4);
    transition: transform 400ms ease-in-out;
  }
  
  .WideCard:hover, .SmallCard:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 400ms ease-in-out;
    box-shadow: 0 0 8px 4px rgba(168, 168, 168, 0.4);
  }
  .WideCard{
    width: 200px;
  }
  .SmallCard{
    width: 400px;
    font-size: 30px;
  }
  
  .Caroussel button{
    z-index : 10;
    border : none;
    height: 25px;
    width: 25x;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 0.160);
    visibility: hidden;
    transition: visibility transform linear 500ms;
  }
  .Caroussel button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.260);
    transition: background-color 300ms ease-in-out;
  }
  
  .arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    height: 3px;
    width: 3px;
    display: inline-block;
    padding: 3px;
  }
  
  #right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  #left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .Help{
      margin : 10vh 0 0 20%;
  }

  .twoCards :nth-child(2){
      margin-top: 20px;
  }
  .Imgs{
      display: flex;
  }


/* ///////////////////Caroussel.css/////////////////// */

footer{
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: inline-block;
    width: 100%;
    padding-top: 5vh;
    background-color: #f5f5f7;
}

.footerSubDivContainer{
    width:  60%;
    margin : 0 auto;
    padding: 2vh 0 3vh 0;
    border-top: solid rgba(90, 90, 90, 0.20) 0.1px;
    display: flex;
    justify-content: space-between;
}
.footerSubDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerSubDiv button, .Copyright button{
    color : rgb(90, 90, 90);
    font-size: 1.5vh;
    border : none;
    background: none;
    padding: 0.75vh 0px;
    margin : 0px;
}
.strong{
    color : rgba(0, 0, 0, 0.8) !important;
    font-size: 1.6vh;
    font-weight: 550;
}

.strong:hover{
    text-decoration: none !important;
    cursor: auto !important;
}
.footerSubDiv button:hover, .Copyright button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.retailDiv .link{
    background : none;
    border : none;
    color : rgb(40, 129, 204);
    padding: 0;
    margin: 0;
    font-size: 1.5vh;
}
.retailDiv .link:hover{
    cursor: pointer;
    text-decoration: underline;
}


.retailDiv, .Copyright{
    width:  60%;
    margin : 0 auto;
    color : rgb(129, 129, 129);
    font-size: 1.5vh;
}
.Copyright{
    padding: 1vh 0 4vh 0;
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
}
.Copyright button{
    padding: 0 !important ;
}
.Legals button{
    border-left: solid rgba(90, 90, 90, 0.20) 0.1px;
    padding : 0 0.5vw !important;
}

.retailDiv{
    border-bottom: solid rgba(90, 90, 90, 0.20) 0.1px;
    padding-bottom: 1vh;
}

#privacyPol{
    border : none !important;
}


/* ///////////////////Footer.css/////////////////// */